input {
  width: 200px;
}
body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding:0 10px
}
input, textarea {
  border: 1px solid #bbb;
  border-radius: 1px;
  padding: 4px 5px;
}
h1, h2, h3 {
  line-height:1.2
}
h1 a {
  color: inherit;
}
* {
  outline: none;
}
textarea {
  resize: none;
}
label {
  display: block;
}
.error {
  color: red;
}
.page {
  display: none;
}
.credits {
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 320px;
  background: white;
  right: 0;
  top: 0;
  margin-bottom: 10px;
}
.image-sorter {
  list-style: none;
  padding: 5px;
  width: 375px;
  border: 1px solid #bbb;
  border-radius: 1px;
  margin: auto;
}
.image-sorter li {
  cursor: move;
  padding: 5px 0;
}
.image-sorter li:first-of-type:not(.line) {
  background: #3498db;
  padding-top: 10px;
}
.image-sorter li:first-of-type:not(.line):before {
  content: "Main Profile Pic";
  display: block;
  color: white;
  text-align: center;
  padding-bottom: 5px;
}
.image-sorter li.line {
  text-align: center;
  background: black;
  color: white;
}
.image-sorter li .image {
  margin: auto;
  width: 240px;
  height: 240px;
  border-radius: 3px;
}
